* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    /* display: grid; */
    /* transform: translate(50%); */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 148, 139);
    color: rgb(244, 247, 241);
}

img {
    display: block;
    margin: 0 auto;
}
